:root{
    --Dark-gray: #333;
    --Light-gray: lightgray;
    --White: #fff;
    --Feldgrau-green: #4F6956;

/*    Fonts*/
    --Manrope: 'Manrope', sans-serif;
    --Red-hat: 'Red Hat Text', sans-serif;

/*    images*/
    --landing-image: url(./images/tim-foster-4sS6QD1fbtw-unsplash.jpg);
    --secondary-landing-image: url(./images/tim-foster-308PAaLR1OM-unsplash.jpg);
    --first-card-image: url(images/p5pb21361883.jpg);
    --second-card-image: url(images/p5pb23167490.jpg);
    --third-card-image: url(images/p5pb18075667.jpg);
    --bg-light-grey: url(./images/bg-grey-light.png);
    --bg-white: url(./images/bg-white.png);
}

html{
    font-size: 10px;
}
body {
    font-family: var(--Red-hat);
}

.container {
    text-align: center;
    color: var(--White);
    width: 100%;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: var(--landing-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-family: var(--Manrope);
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-family: var(--Manrope);
    font-weight: 700;
    font-size: 2.5rem;
}

h3 {
    font-family: var(--Manrope);
    font-weight: 700;
    font-size: 2.25rem;
}

.explainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 60vh;
    background-image: var(--bg-light-grey);
}

.explainer-text {
    width: 60%;
    color: var(--Dark-gray);
    font-family: var(--Red-hat);
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}

.second {

    flex-direction: row;
    background-image: var(--secondary-landing-image);
    background-attachment: fixed;
    height: 110vh;
    column-gap: 25px;
}

.img {
    position: relative;
    width: 90%;
    height: 200px;
    background-color: var(--Light-gray);
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: .3em;;
}

.img-first {
    background-image: var(--first-card-image);
}

.img-second {
    background-image: var(--second-card-image);
}

.img-third {
    background-image: var(--third-card-image);
}

.cards {
    position: relative;
    display: flex;
    width: 320px;
    height: 500px;
    background-color: var(--White);
    color: var(--Dark-gray);
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 50px var(--Dark-gray);

    transition: all 0.1s linear;
}
.cards:hover {
    transform: scale(1.25);
    z-index: 999}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
}

.card-title {
    font-size: 3rem;
    font-family: var(--Manrope);
    color: var(--Dark-gray);
}

.card-text {
    align-self: center;
    text-wrap: normal;
    color: var(--Dark-gray);
    font-family: var(--Red-hat);
    font-weight: 500;
    font-size: 1.75rem;
    width: 70%;
}

.button {
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
    background-color: var(--Dark-gray);
    color: var(--White);
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5px;
    width: 175px;
    height: 30px;
    padding: 5px;

    transition: all 0.3s ease-in-out;
}

.button:hover {
    background-color: var(--Feldgrau-green);
}

.mailing-sign-up {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--bg-white);
}

.subscribe-form {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.email-input {
    text-align: center;
    width: 500px;
    height: 30px;
    font-size: 2rem;
    color: var(--Dark-gray);
}

.subscribe-button {
    cursor: pointer;
    background-color: var(--Dark-gray);
    color: var(--White);
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    width: 175px;
    height: 30px;
    padding: 5px;

    transition: all 0.2s ease-in-out;
}

.subscribe-button:hover {
     background-color: var(--Feldgrau-green);
 }

footer {
    background-image: var(--bg-light-grey);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 45vh;
}

footer a {
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--Red-hat);
    font-weight: 500;
    color: var(--Dark-gray);
}

.courses, .useful, .socials-links {
    display: flex;
    flex-direction: column;
}